* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.row {
  height: 31px;
  margin: 0;
  padding: 0;
}

.pixel {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: black;
  margin-right: 1px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
